.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.dark_bg {
  background-color: black;
  color: white;
}

.lighter_bg {
  background-color: blue;
  color: yellow;
}

.p-highlight {
  background-color: gray;
  color: white;
  border: 2px solid pink;
}

#section1-showing {
  display: none;
}

#section2-showing {
  display: none;
}
